



.orange_box{background-color: orange; color: white; width: 500px; font-weight: bold;}
.purple_box{background-color: purple; width: 200px; font-weight: bold;}

.blue_box{background-color: blue; width: 500px; font-weight: bold;}
.red_box{background-color: red; width: 50px; font-weight: bold;}
.green_box{background-color: green; width: 200px; font-weight: bold;}

